body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #2e2e2e;
  background-image: url(../images/Penthouse-Wohnzimmer-1_small.jpg);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.default-btn {
  display: inline-block;
  border: 2px solid #1d1d1d;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 3px;
  background-color: transparent;
  -webkit-transition: .3s;
  transition: .3s;
}

.default-btn:hover {
  background-color: #1d1d1d;
  color: #fff;
}

.title-h2 {
  text-transform: uppercase;
  font-size: 2.5rem;
  letter-spacing: 0.7rem;
  margin-bottom: 15px;
}

.title-h3 {
  text-transform: uppercase;
  font-size: 1.8rem;
  letter-spacing: 0.7rem;
  margin-bottom: 15px;
}

.title-h4 {
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 0.7rem;
  margin-bottom: 15px;
}

.description-text {
  line-height: 100%;
  color: #616161;
  display: block;
  max-width: 550px;
  margin: 20px auto;
}

.default-block {
  padding: 50px 0;
}

.header {
  padding: 25px 0 10px;
  position: fixed;
  z-index: 1000;
  width: 100vw;
  background-color: #fff;
}

.contacts-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: .8rem;
}

.contacts-list__item {
  margin: 0 15px;
}

.contacts-list__phone {
  padding-left: 20px;
  position: relative;
}

.contacts-list__phone::before {
  content: '';
  position: absolute;
  display: inline-block;
  left: 0;
  width: 15px;
  height: 15px;
  background-image: url(../images/feather_phone-black.svg);
  background-size: cover;
  background-position: center center;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-list__btn {
  margin-right: 15px;
}

.nav-list__link {
  display: inline-block;
  padding: 12px 15px;
  margin: 5px;
  position: relative;
}

.nav-list__link::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 4px;
  border-radius: 4px;
  background-color: #1d1d1d;
  bottom: 0px;
  left: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

.nav-list__link {
  color: #1d1d1d;
}

.nav-list__link:hover::after {
  width: 100%;
}

.logotype__link {
  display: block;
  width: 7rem;
}

.logotype__img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  width: 100%;
}

.bg-container {
  background-image: url(../images/Penthouse-Wohnzimmer-1_small.jpg);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.main-screen {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-screen-content {
  text-align: center;
}

.main-screen__title {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 150%;
  color: #fff;
  text-shadow: 2px 2px 4px #000;
  margin-bottom: 50px;
}

.main-screen__btn {
  -webkit-box-shadow: 0 0 6px #000;
          box-shadow: 0 0 6px #000;
  background-color: rgba(255, 255, 255, 0.5);
}

.about {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-content {
  text-align: center;
  max-width: 550px;
  margin: 0 auto;
  font-weight: 400;
}

.about__logo {
  width: 23rem;
}

.title-border {
  display: inline-block;
  width: 90px;
  height: 4px;
  background-color: #1d1d1d;
  border-radius: 4px;
  margin-bottom: 25px;
}

.services {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.9);
  color: #d8d8d8;
}

.services__title {
  color: #fff;
}

.services__text {
  display: block;
  max-width: 550px;
  margin: 0 auto 40px;
  line-height: 150%;
}

.services__title-border {
  background-color: #fff;
  margin-bottom: 50px;
}

.services-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.services-list__item {
  width: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services-list__img-border {
  border: 2px solid #fff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 4.3rem;
  height: 4.3rem;
  margin-bottom: 1rem;
}

.services-list__img {
  height: 1.9rem;
}

.projects {
  background-color: #fff;
  text-align: center;
}

.projects__text {
  margin-bottom: 35px;
}

.projects-slider {
  margin-bottom: 40px;
}

.projects-slider__item {
  width: 450px;
  height: 320px;
}

.projects-slider__img {
  width: inherit;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

.client-form-wrapper {
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  color: #d8d8d8;
}

.client-form__title-border {
  background-color: #d8d8d8;
}

.client-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.client-form__title {
  color: #fff;
}

.client-form__btn {
  color: #fff;
  border-color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  margin-top: 15px;
}

.client-form__btn:hover {
  color: #000;
  background-color: #fff;
}

.client-form__inp {
  padding: 5px 10px;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid #d8d8d8;
  border-radius: 50px;
  margin: 10px 0;
  color: #fff;
}

.client-form__inp::-webkit-input-placeholder {
  color: #fff;
}

.client-form__inp:-ms-input-placeholder {
  color: #fff;
}

.client-form__inp::-ms-input-placeholder {
  color: #fff;
}

.client-form__inp::placeholder {
  color: #fff;
}

.team {
  background-color: #fff;
  text-align: center;
}

.footer {
  background-color: rgba(0, 0, 0, 0.98);
  text-align: center;
  color: #d8d8d8;
}

.footer__title-border {
  background-color: #b6b6b6;
}

.footer-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer-list__link {
  position: relative;
  padding-left: 40px;
}

.footer-list__link::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 30px;
  height: 30px;
  background-size: cover;
  background-position: center center;
}

.footer-list__instagram::before {
  background-image: url(../images/feather_instagram.svg);
}

.footer-list__phone::before {
  background-image: url(../images/feather_phone-call.svg);
}

.copyright {
  background-color: #000;
  padding: 15px 0 25px;
  text-align: center;
}

.copyright__text {
  font-size: .8rem;
  color: #929292;
}

.copyright__link {
  font-weight: 700;
  color: #fff;
}

.popup {
  position: fixed;
  z-index: 1100;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .3s;
  transition: .3s;
}

.popup._active {
  opacity: 1;
  visibility: visible;
}

.popup-bg {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  color: #d8d8d8;
}

.popup-form {
  position: absolute;
  z-index: 1200;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup-form__title {
  color: #d8d8d8;
}

.popup-form__title-border {
  background-color: #b8b8b8;
}

.popup-form__inp {
  background-color: transparent;
  border: 2px solid #b6b6b6;
  border-radius: 50px;
  padding: 5px 15px;
  color: #d8d8d8;
  outline: none;
  margin-bottom: 15px;
}

.popup-form__inp::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.2);
}

.popup-form__inp:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.2);
}

.popup-form__inp::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.2);
}

.popup-form__inp::placeholder {
  color: rgba(255, 255, 255, 0.2);
}

.popup-form__inp-label {
  color: #b8b8b8;
  margin-bottom: 5px;
}

.popup-form__btn {
  color: #fff;
  border-color: #fff;
}

.popup-form__btn:hover {
  background-color: #fff;
  color: #000;
}

.nav-btn {
  display: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  margin-right: 15px;
  display: none;
  position: relative;
  z-index: 1100;
}

.nav-btn._active .nav-btn__burger {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  background-color: #fff;
}

.nav-btn._active .nav-btn__burger::before,
.nav-btn._active .nav-btn__burger::after {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  top: 0;
  background-color: #fff;
}

.nav-btn__burger {
  position: relative;
}

.nav-btn__burger,
.nav-btn__burger::before,
.nav-btn__burger::after {
  width: 30px;
  height: 4px;
  border-radius: 4px;
  background-color: #1d1d1d;
  -webkit-transition: .3s;
  transition: .3s;
}

.nav-btn__burger::before,
.nav-btn__burger::after {
  position: absolute;
  content: '';
}

.nav-btn__burger::before {
  top: 8px;
}

.nav-btn__burger::after {
  top: -8px;
}
/*# sourceMappingURL=style.css.map */