@media (max-width: 768px) {
  body {
    font-size: 12px;
  }

  .title-h2 {
    font-size: 2rem;
  }

  .nav-btn {
    display: flex;
  }

  .nav-list-wrapper {
    position        : fixed;
    z-index         : 1050;
    top             : 0;
    left            : 0;
    width           : 100vw;
    height          : 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    opacity         : 0;
    visibility      : hidden;
    transition      : .3s;

    &._active {
      opacity   : 1;
      visibility: visible;
    }
  }

  .nav-list {
    background-color: rgba(0, 0, 0, 0.8);
    position        : absolute;
    top             : 0;
    right           : 0;
    flex-direction  : column;
    justify-content : center;
    padding         : 0 25px 0 40px;
    height          : 100vh;
  }

  .nav-list__item {
    margin: 5px 0;
  }

  .nav-list__link {
    color: #fff;

    &::after {
      background-color: #fff;
    }
  }

  .nav-list__btn {
    color       : #fff;
    border-color: #fff;
    margin-top  : 20px;

    &:hover {
      color           : #000;
      background-color: #fff;
    }
  }

  .logotype__link {
    width: 4rem;
  }

  .services-list__img-border {
    border         : 2px solid #fff;
    border-radius  : 50%;
    display        : flex;
    align-items    : center;
    justify-content: center;
    width          : 3rem;
    height         : 3rem;
    margin-bottom  : 1rem;
  }

  .services-list__img {
    height: 1.2rem;
  }

  .about__logo {
    width: 18rem;
  }

  .projects-slider__item {
    height: 240px;
  }
}

@media (max-width: 468px) {
  .title-h2 {
    font-size: 1.8rem;
  }

  .services-list {
    flex-wrap: wrap;

    &__item {
      width        : 33%;
      margin-bottom: 15px;
    }
  }

  .footer__title-border {
    margin-bottom: 60px;
  }

  .footer-list__link {
    padding: 0;

    &::before {
      left: calc(50% - 15px);
      top : -35px;
    }
  }

  .popup-form__title {
    max-width : 240px;
    text-align: center;
  }
}